
@{
    ViewData["Title"] = "ExceptionHandlerPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="alert alert-danger">oops something went wrong!</h1>
<a asp-action="index" asp-controller="Home" class="btn btn-outline-success" style="width:auto">Click here to view all employees</a>
