@model IEnumerable<EmployeeViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="card-deck">
    @foreach (var employee in Model)
    {
        <div class="card m-3" style="min-width:18rem;max-width:30.5%">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div    >
            @if (employee.Photos != null&& employee.Photos.Count>0)
            {
                <img class="card-img-top thumbnails" src="~/images/@employee.Photos.FirstOrDefault()" asp-append-version="true" />
            }
            else
            {
                <img class="card-img-top thumbnails" src="~/images/avatar.png" asp-append-version="true" />

            }
            <div class="card-footer text-center">
                <a asp-controller="Home" asp-action="details" asp-route-id="@employee.Id" class="btn btn-primary">View</a>
                <a asp-controller="Home" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>


